/****************
 * COLOR PALETTE
 ****************/
$palette: (
	// Transparent
	trans: transparent,

	// Greens
	greenDark:      #155724,
	green:          #68c07d,
	greenLight:     #d4edda,

	// Greys
	greyDark:       #5f6e7e,
	grey:           #9faab5,
	greyLight:      #ddd,
	xGreyLight:     #f7f7f7,

	// Reds
	redDark:        #721c24,
	red:            #e15562,
	redLight:       #f8d7da,

	// Turquoise
	turquoisDark:   #0c5460,
	turquois:       #5cbccd,
	turquoisLight:  #d1ecf1,

	// Yellows
	yellowDark:     #856404,
	yellow:         #e7af00,
	yellowLight:    #fff3cd,

	// White
	white:          white
);