<div class$="
	rb-popover
	[[kind]]
	[[_unstyled(unstyled)]]
	[[_withCaption(caption)]]
	[[_fitContent(fitContent)]]">
	<rb-button
		kind="text"
		icon="[[icon]]"
		on-click="_handleClick"
		on-mouseover="_handleHover"
		icon-source="[[_iconSource(icon, iconSource)]]">
	</rb-button>
	<div class$="popover [[_hidePopover(_hidden)]]">
		<em class$="pointer [[_position]]"></em>
		<template is="dom-if" if="{{caption}}">
			<h3 class="header">[[caption]]</h3>
		</template>
		<div class="body">
			<slot></slot>
		</div>
	</div>
</div>
<link rel="stylesheet" href="../styles/rb-popover.css">