<div class="
	rb-popover
	${props.kind || 'default'}
	${props.unstyled ? 'unstyled' : ''}
	${props.fitContent ? 'fit-content' : ''}
	${props.caption ? 'with-caption' : 'no-caption'}
	${state.hasContent ? 'with-content' : 'no-content'}
	${state.position ? state.position : props.position}">
	<rb-button
		kind="text"
		icon-kind="${props.iconKind || 'info-circle'}"
		icon-size="${view.ifDefined(props.iconSize || undefined)}"
		icon-source="${!props.iconKind ? 'solid' : props.iconSource}"
		icon-valign="${view.ifDefined(props.iconValign || undefined)}"
		@click="${this._clickToggle.bind(this)}"
		@mouseover="${this._hoverToggle.bind(this)}">
	</rb-button>
	<div
		style="${view.styleMap(state.coords.popover)}"
		class="popover ${view.classMap({
			hidden: !props.showPopover || !this.rb.view.isReady
		})}">
		<em class="pointer" style="${view.styleMap(state.coords.pointer)}"></em>
		${props.caption ? html`<h3 class="caption">${props.caption}</h3>` : null}
		<div class="body">
			<slot @slotchange="${this._hasContent.bind(this)}"></slot>
		</div>
	</div>
</div>
<link rel="stylesheet" href="../styles/rb-popover.css">