<div class="
	rb-popover
	${props.kind || 'default'}
	${props.unstyled ? 'unstyled' : ''}
	${props.caption ? 'with-caption' : 'no-caption'}
	${props.fitContent ? 'fit-content' : ''}">
	<rb-button
		kind="text"
		icon-kind="${props.iconKind || 'info-circle'}"
		icon-size="${props.iconSize || undefined}"
		icon-source="${!props.iconKind ? 'solid' : props.iconSource}"
		@click="${this._clickToggle.bind(this)}"
		@mouseover="${this._hoverToggle.bind(this)}">
	</rb-button>
	<div class="popover ${props.showPopover && this.rb.view.isReady ? '' : 'hidden'}">
		<em class="pointer"></em>
		${props.caption ? html`<h3 class="caption">${props.caption}</h3>` : null}
		<div class="body">
			<slot @slotchange="${this._hasContent.bind(this)}"></slot>
		</div>
	</div>
</div>
<link rel="stylesheet" href="../styles/rb-popover.css">