/********************************************
 * COMMON STYLES (for light and dark themes)
 ********************************************/
@mixin setCommonStyles() {
	// Common For All Kinds (root tag)
	.rb-popover {
		$radius: mapGet($vars, common, border-radius);
		$cRadius: calc(#{$radius} - 1px);
		.caption { font-family: mapGet($vars, common, caption-font-family); }
		.body    { font-family: mapGet($vars, common, content-font-family); }
		.popover {
			border-radius: $radius;
		}
		&.no-content .caption {
			border-radius: $cRadius;
		}
		&.with-content .caption {
			border-top-left-radius: $cRadius;
			border-top-right-radius: $cRadius;
		}
		rb-button {
			--rb-button-text-button-opacity: #{mapGet($vars, common, trigger-opacity)};
			--rb-button-text-button-opacity-hover: #{mapGet($vars, common, trigger-opacity-hover)};
			--rb-button-text-button-transition: #{mapGet($vars, common, trigger-transition)};
		}
	}

	// Kinds
	$kinds: default, danger, info, neutral, success, warning;
	@each $kind in $kinds {
		.#{$kind} {
			&.with-caption {
				&.bottom, &.no-content {
					.pointer { // match caption bg
						border-bottom-color: mapGet($vars, common, #{$kind}-caption-bg);
					}
				}
			}
			.popover {
				.caption {
					color: mapGet($vars, common, #{$kind}-caption-color);
					background-color: mapGet($vars, common, #{$kind}-caption-bg);
				}
				.body {
					color: mapGet($vars, common, #{$kind}-content-color);
				}
			}
			rb-button {
				--rb-button-#{$kind}-text-button-color: #{mapGet($vars, common, #{$kind}-trigger-color)};
				--rb-button-#{$kind}-text-button-color-hover: #{mapGet($vars, common, #{$kind}-trigger-color-hover)};
			}
		}
	}
}

@include setCommonStyles();
