/********
 * KINDS
 ********/
&.default {
	.popover {
		color: #5f6e7e;
	}
	.header {
		background-color: $popoverDefault;
	}
	.popover.bottom {
		.pointer {
			border-bottom-color: $popoverDefault;
		}
	}
	rb-icon {
		color: #9faab5;
	}
}
&.success {
	.popover {
		color: #155724;
		&.bottom {
			.pointer {
				border-bottom-color: $popoverSuccess;
			}
		}
	}
	.header { background-color: $popoverSuccess; }
	rb-icon {
		// color: #218838;
		color: darken($popoverSuccess, 30%);
	}
}
&.danger {
	.popover {
		color: #721c24;
		&.bottom {
			.pointer {
				border-bottom-color: $popoverDanger;
			}
		}
	}
	.header {
		background-color: $popoverDanger;
	}
	rb-icon {
		color: darken($popoverDanger, 30%);
	}
}
&.warning {
	.popover {
		color: #856404;
		&.bottom {
			.pointer {
				border-bottom-color: $popoverWarning;
			}
		}
	}
	.header {
		background-color: $popoverWarning;
	}
	rb-icon {
		color: darken($popoverWarning, 45%);
	}
}
&.info {
	.popover {
		color: #0c5460;
		&.bottom {
			.pointer {
				border-bottom-color: $popoverInfo;
			}
		}
	}
	.header {
		background-color: $popoverInfo;
	}
	rb-icon {
		color: darken($popoverInfo, 30%);
	}
}