/********
 * KINDS
 ********/
&.info,
&.danger,
&.default,
&.success,
&.warning {
	&.no-caption,
	&.with-content:not(.bottom) {
		.popover {
			.pointer {
				border-color: transparent transparent white transparent;
			}
		}
	}
}

&.default {
	rb-button {
		color: #9faab5;
	}
	.popover {
		color: #5f6e7e;
		.caption {
			background-color: $popoverDefault;
		}
		.pointer {
			border-color: transparent transparent $popoverDefault transparent;
		}
	}
	&.with-caption.bottom .pointer {
		border-bottom-color: $popoverDefault;
	}
}
&.success {
	rb-button {
		color: darken($popoverSuccess, 30%);
	}
	.popover {
		color: #155724;
		.caption {
			background-color: $popoverSuccess;
		}
		.pointer {
			border-color: transparent transparent $popoverSuccess transparent;
		}
	}
	&.with-caption.bottom .pointer {
		border-bottom-color: $popoverSuccess;
	}
}
&.danger {
	rb-button {
		color: darken($popoverDanger, 30%);
	}
	.popover {
		color: #721c24;
		.caption {
			background-color: $popoverDanger;
		}
		.pointer {
			border-color: transparent transparent $popoverDanger transparent;
		}
	}
	&.with-caption.bottom .pointer {
		border-bottom-color: $popoverDanger;
	}
}
&.warning {
	rb-button {
		color: darken($popoverWarning, 45%);
	}
	.popover {
		color: #856404;
		.caption {
			background-color: $popoverWarning;
		}
		.pointer {
			border-color: transparent transparent $popoverWarning transparent;
		}
	}
	&.with-caption.bottom .pointer {
		border-bottom-color: $popoverWarning;
	}
}
&.info {
	rb-button {
		color: darken($popoverInfo, 30%);
	}
	.popover {
		color: #0c5460;
		.caption {
			background-color: $popoverInfo;
		}
		.pointer {
			border-color: transparent transparent $popoverInfo transparent;
		}
	}
	&.with-caption.bottom .pointer {
		border-bottom-color: $popoverInfo;
	}
}