/**********
 * POINTER
 **********/
.pointer {
	position: absolute;
	left: -16px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 16px 8px;
	border-color: transparent transparent white transparent;
	transform: rotate(270deg);
	&::after,
	&::before {
		position: relative;
		display: block;
		width: 18px;
		content: '';
	}
	&::before {
		top: 7px;
		left: -5px;
		border-bottom: 1px solid #ddd;
		transform: rotate(63deg);
	}
	&::after {
		top: 6px;
		left: -13px;
		border-top: 1px solid #ddd;
		transform: rotate(-63deg);
	}

	/* Positions
	 ************/
	&.bottom {
		top: -16px;
		left: calc(50% - 8px);
		transform: rotate(0);
	}
	&.top {
		top: calc(100%);
		left: calc(50% - 8px);
		transform: rotate(180deg);
	}
	&.left {
		left: calc(100%);
		transform: rotate(90deg);
	}
}
