/*******
 * ROOT
 *******/
& {
	display: inline-block;
	position: relative;
	line-height: 1;
	font-variant: normal;
	font-weight: normal;
	text-shadow: none;
	text-transform: none;
	text-align: left;
}
